:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-right: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: lightgoldenrodyellow;
  color: #242424;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropBtn {
  background-color: #3e8e41;
}


header{
  background-color: hotpink;
  color: black;
  text-align: center;
  padding: 10px 0;
}
.wrapper {
  display: flex;
}

#sidebar {
  width: 10vw;
  height: 100vh;
  background-color: aquamarine;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
  margin: 15px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
