:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  font-weight: normal;
}
a {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
#navMenu li {
  margin-right: 10px;
}
#navMenu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px;
}
#navMenu a:hover {
  background-color: bisque;
  color: #242424;
  text-decoration: none;
}
#navMenu a:visited {
  color: black;
}
#recipeLink {
  font-weight: bold;
  padding: 10px;
  color: black;
}

.submenu li a {
  font-weight: normal !important;
  padding-left: 25px;
  position: relative;
}
.submenu a::before {
  content: "-";
  margin-right: 5px;
  color: black;
}



header{
  background-image: url('/img/baguette.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.wrapper {
  display: flex;
  background-color: bisque;

}

#sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #daa350;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
  margin: 15px;
  max-width: 800px;
  margin: 0 auto;
}

@keyframes roll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: black;
  text-align: center;
  padding: 10px 0;
  animation: roll 15s linear infinite;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  #sidebar {
    width: 100%;
    padding: 10px;
    height: auto;
  }
}